/*This Custom CSS file has not been structured in any particular order.

Modify this file to your hearts content and make your website look awesome!*/


body{
	background-color: #ebebeb;
	padding-top: 80px;
}

/*Home*/
.full-page-bg {
  position: absolute;
  margin-top: -80px;
  padding-bottom: 100px;
  width:100%;
  min-height: 100vh;
  background: url('../img/common/common/homepage_bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

/*Cards*/
.card{border: none; background-color: transparent;}

/*Navbar Rules*/
img.nav-bar-img{
	margin-right: 10px;
}

.navbar{
	background-color: #fff;

}

a.navbar-brand{
	font-family:'Montserrat', Sans-Serif;
	font-size:
}

/*Floating Nav*/
.floating-nav{
	position: fixed;
	margin-top: 50px;
	border-left: 1px solid #727272;
}

	a.float-nav-link{
		font-family: 'Lato', Sans-Serif;
		color: #595959;
		font-size: 14px;
		font-weight: 600;
		text-align: left;
	}

/*Image Rules*/
img{
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border: 0px solid #000000;
}

/*Font Override Rules*/
h1, h2, h3, h4, h5, h6 {
	font-family:'helvetica', Sans-Serif;
	margin-bottom: 20px;
}
	h1.welcome-special{
		font-size: 90px;
	}

	h1.axle{
		font-size: 70px;
	}

	h1.axle-h{
		font-size: 70px;
		margin-top: 20px;
		margin-bottom: -10px;
	}

	h2.welcome-special-sub{
		font-family: 'Lato', Sans-Serif;
		font-size: 30px;
	}

	h3{
		text-transform: uppercase;
		color: #dc3545;
		letter-spacing: -0.5px;
	}

p, li, span, a {
	font-family: 'helvetica', Sans-Serif;
	text-align: justify;
	font-weight: 300;
}

	p{
		color: #494949;
		line-height: 30px;
		margin-bottom: 25px;
	}

span.img-caption{
	display: block;
	font-size: 12px;
	font-weight: 500;
	padding-top: -15px;
}

/*Container/class etc Override Rules*/
.welcome-message{
	margin-top: 200px;
}

.welcome-button-container{
	margin-top: 20px;
}

.welcome-button{
	background-color: transparent;
	border-radius: 20px 20px 20px 20px;
	border: 3px solid #000;
	font-family:'Montserrat', Sans-Serif;
	font-size: 15px;
	color: #000;
	text-transform: uppercase;
}

.welcome-button:hover{
	background-color: #000;
	border-color: #000;
}

.master-heading{
	padding-top: 50px;
}

.section-heading{
	padding-top: 100px;
}

.slide-show{
	padding: 30px 0px 50px 0px;
}

.icons a{
	display: inline-block;
	font-size: 50px;
	color: red;
	padding-left: 10px;

}

.flex {
	margin-top: -80px;
}

.fa-facebook:hover, .fa-instagram:hover,  .fa-twitter:hover, .fa-lastfm-square:hover, .fa-envelope:hover{
	color: #fff;
}

.footer{
	bottom: 0;
	margin-bottom: -100px;
	margin-top: 50px;
	padding-top: 30px;
	width: 100%;
	min-height: 100px;
	background-color: #292c2f;
	color: white;
	border-top: 1px solid #727272;

}

.inside {
	padding-bottom: 30px;
}

.tkbot {
	margin-top: -30px;
	color: white;
}

.gif {
	margin-top: -90px;
}


.carousel-indicators li {
background-color: #000;

}

.carousel-indicatorsactive{
background-color: #999;
}

* {box-sizing: border-box;}

.axle-p {

margin-bottom: 50px;
margin-top: 100px;

}


.tight{
	padding: 20px;
}

.tight2{
	padding-bottom: 20px;
	margin-top: -20px;
}

.sign {
	font-size: 10px;
	margin-bottom: 50px;

}

.img-banner {

	width: 100%;
	margin-bottom: 50px;
}

.axle-f {
	margin-bottom: 0px;
	margin-top: 100px;

}
